.fileBox {
  border: 1px solid grey;
  background-color: #ededed;
  min-width: 400px;
  max-width: 480px;
  max-height: 80vh;
  overflow: auto;
  .fileBox_unit {
    display: flex;
    justify-content: space-between;
    height: 38px;
    .fileBox_mapName {
      width: 30%;
      margin: 4px;
      justify-content: center;
      align-items: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: block;
    }
    .fileBox_status {
      display: flex;
      flex-basis: 30%;
      margin: 6px;
      justify-content: center;
      align-items: center;
    }
    .fileBox_control {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-basis: 30%;
      margin: 6px;
      .loader-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin: 3px;
      }
    }
  }
  .fileBox_unit:hover {
    background-color: #ededed !important;
  }
}
