@import "../../../../assets/styles/_variables.less";

.rectangle-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .dzvin-form-row {
      display: flex;
      flex-direction: column;
      height: 68px;
      align-items: flex-start;

      .dzvin-form-input {
        width: 100%;
        position: relative;

        input[readonly] {
          background: #f5f5f5;
          pointer-events: none;
        }

        .ant-select {
          width: 100%;
        }

        .icon-button {
          position: absolute;
          top: -4px;
          pointer-events: none;
          right: -4px;
          transform: scale(0.6);
        }
      }

      label {
        margin-bottom: 0.35em;
        margin-left: 0.5em;
        font-size: 12px;
        display: block;
        flex: 0 0 auto;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 0;
        text-overflow: ellipsis;
      }
    }
  }

  &__itemWidth {
    width: 50%;
    margin-top: 10px;

    .dzvin-form-row-label{
      flex: 0 0 auto;
    }

    .hideArrow{
      .dzvin-input-after{
        opacity: 0;
      }
    }
  }

  .dzvin-form-dark-part {
    .shape-form-scrollable {
      height: auto;

      .dzvin-form-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .dzvin-form-input {
          width: 100%;
        }

        label {
          margin-bottom: 0.35em;
          margin-left: 0.5em;
          font-size: 12px;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          margin-right: 0;
          text-overflow: ellipsis;
        }

        .ant-select-open {
          .ant-select-arrow {
            transform: rotate(180deg) scale(0.6);
          }
        }

        .ant-select-arrow {
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 10px solid @toolbar-color;
          top: 55%;
          transition: 0.3s;
          transform: scale(0.6);
          right: 7px;

          .anticon {
            display: none;
          }
        }
      }
    }
  }
}
