@import "../../assets/styles/_variables.less";

/* Header */
.ant-menu.main-menu {
  background: transparent;
  .ant-menu-item, .ant-menu-submenu{
    line-height: 32px;
    height:32px;
    color: @toolbar-color;
    &:hover{
      border-bottom-color: @toolbar-border-selected;
    }
  }
  .main-menu-check-icon{
    visibility: hidden;
  }
}
.main-menu .ant-menu-submenu-selected{

  border-bottom-color: transparent;

}
.main-menu .ant-menu-item-selected {
  //border-bottom: none;
  .main-menu-check-icon{
    visibility: visible;
  }
}
.ant-menu-submenu.main-menu-submenu {
  .ant-menu-sub{
    min-width: 50px !important;
  }

  .ant-menu-submenu-title{
    color: @toolbar-color;
  }
  .ant-menu-item{
    line-height: 28px;
    height:28px;
    color: @toolbar-color;


    .main-menu-check-icon{
      visibility: hidden;
    }

    &:hover{
      background: none;
    }
    &.ant-menu-item-selected {
      background: none;
      .main-menu-check-icon{
        visibility: visible;
      }
    }
  }
}

.menu-button {
  border-radius: 3px;
  background-color: @toolbar-background;
  border: 1px solid @toolbar-border;
  color: 1px solid @toolbar-border;
  margin: 3px 5px;
  width: 34px;
  height: 34px;
  padding: 0px;
  transition: box-shadow 200ms;
  &.toolbar-button-selected, &:hover{
    border-color: @toolbar-border-selected;
    box-shadow: inset 0px 0px 0px 0.5px @toolbar-border-selected,
    0px 0px 0px 0.5px @toolbar-border-selected;
  }
}


.menu-button-icon{
  font-size: 24px;
  line-height: 32px;
  height: 32px;
  width: 32px;
}
.menu-button {
  border-radius: 3px;
  background-color: @toolbar-background;
  border: 1px solid @toolbar-border;
  color: 1px solid @toolbar-border;
  margin: 3px 5px;
  width: 34px;
  height: 34px;
  padding: 0px;
  transition: box-shadow 200ms;
  &.menu-button-selected, &:hover{
    border-color: @toolbar-border-selected;
    box-shadow: inset 0px 0px 0px 0.5px @toolbar-border-selected,
    0px 0px 0px 0.5px @toolbar-border-selected;
  }
}


.menu-button-icon{
  font-size: 24px;
  line-height: 32px;
  height: 32px;
  width: 32px;
}


.submenu{
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1000;
  margin-top: 10px;
}
//.menu-button.menu-button-selected{
//  .submenu{
//    display: block;
//  }
//}
