.hidden {
  visibility: hidden;
}
.flex {
  display: flex;
}
.menu-toolbar {
  display: flex;
}
.menu-button-icon {
  font-size: 24px;
  line-height: 32px;
  height: 32px;
  width: 32px;
}
.menu-button {
  width: 34px;
  height: 34px;
  margin: 3px 5px;
}
.menu-button button {
  border-radius: 3px;
  background-color: #eee;
  border: 1px solid #a7a6a6;
  color: #a7a6a6;
  width: 34px;
  height: 34px;
  padding: 0px;
  transition: box-shadow 200ms;
}
.menu-button.menu-button-selected button,
.menu-button:hover button {
  border-color: #71b222;
  box-shadow: inset 0px 0px 0px 0.5px #71b222, 0px 0px 0px 0.5px #71b222;
}
.menu-button-icon {
  font-size: 24px;
  line-height: 32px;
  height: 32px;
  width: 32px;
}
.submenu {
  display: flex;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1000;
  margin-top: 10px;
}
