@import "/../../assets/styles/_variables.less";
@import "/../../assets/styles/_mixins.less";

.symbols-wrapper {
  .flex;
  flex-direction: column;
  width: 100%;

  .symbols-header{
    background: #878C95;
    padding: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    & > button{
      margin-left: 7px;
      font-size: 0.85em;
    }
  }

  .parts-container{
    .flex;
    flex-direction: column;
    .collapseSection{
      border-bottom: 2px solid #f5f5f5;
      .dzvin-ibutton{
        padding: 0 7px;
      }
      .symbols-title{
        font-size: 14px;
        font-family: Roboto;
        color: @toolbar-color;
      }
      .symbols-title-opened{
        font-weight: 500;
      }
      .symbol-container {
        .flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-evenly;
        height: 100%;

        .list {
          display: flex;
          align-items: center;
          border: 1px solid #E7E7E7;
          & > div {
            text-align: left;
            margin-left: 10px;
            font-size: 12px;
            font-weight: 600;
          }
        }
        .symbol {
          width: 84px;
          height: 84px;
          background: #E7E7E7;
          padding: 1px;
          margin: 3px;
          display: flex;
          align-items: center;
          flex: 0 0 auto;
          justify-content: center;
          cursor: pointer;
          svg {
            width: 50px;
            height: 50px;
          }
        }
      }
      .symbol-container-nowrap{
        flex-wrap: nowrap;
        flex-direction: column;
      }
    }

    .collapseSectionFiltered{
      .dzvin-expand-icon-v{
        opacity: 0;
      }
    }
  }
}
