@svg-select-stroke: #0a0;
@svg-select-fill: #252;

.leaflet-interactive.leaflet-interactive-outline {
  fill: none;
  stroke: rgba(0,0,0,0);
  stroke-width: 10px;
}
.dzvin-path-shadow{
  fill: none;
  stroke-width: 5px;
}
.dzvin-path-selected {
  stroke: @svg-select-stroke;
  &:not([fill="none"]) {
    fill: @svg-select-fill;
  }
}
