.topographic-object {
    &--wrap {
    position: fixed;
    z-index: 1001;
    right: 150px;
    top: 85px;
    margin-top: 180px;
  }
  &--content {
    height: calc(100% - 40px);
    width: 100%;
    overflow: auto;
    text-align: start;
    & .dzvin-ibutton {
      align-self: center;
    }
  }
  &--no-data {
    height: calc(100% - 40px);
    width: 100%;
    display: grid;
    place-items: center;
  }
}
