@import "../../../assets/styles/_variables.less";
@import "../../../assets/styles/_mixins.less";

.interval-control{
  .flex;
  overflow: hidden;
  .ant-calendar-picker{
    margin: 6px;
    & > div {
      position: relative;
      max-width: 130px;
    }
  }
  .ant-input{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
    font-size: 12px;
    color: @toolbar-light-background;
    height: 24px;
    background: @sidebar-control-background-color;
    border: 0;
  }
  .ant-calendar-picker-icon{
    display: none;
  }
  .ant-calendar-picker-clear{
    background: @sidebar-control-background-color;
    right: 1px;
  }
}

.interval-control-label{
  flex: 0 0 auto;
  padding: 0 3px;
  line-height: 25px;
  font-size: 13px;
  font-family: @sidebar-font;
}
