@import "../../../assets/styles/_variables.less";
@import "../../../assets/styles/_mixins.less";

.interval-control{
  .flex;
  padding: 5px;
  .ant-calendar-picker{
    flex: 1 1 auto;
  }
  .ant-input{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 25px 0 5px;
    height: 24px;
  }
}

.interval-control-label{
  flex: 0 0 auto;
  padding: 0 3px;
  line-height: 25px;
  font-size: 13px;
  font-family: @sidebar-font;
}
