@import "../../../assets/styles/_variables.less";
@import "../../../assets/styles/_mixins.less";

.interval-control{
  .flex;
  height: auto;
  overflow: hidden;
  .calendar-picker{
    margin: 6px;
    width: auto;
    & > div {
      position: relative;
      max-width: 110px;
    }
  }
  .dzvin-input{
    margin: 0;
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
    padding: 5px;
    font-size: 12px;
    //color: @toolbar-light-background;
    height: 24px;
    //background: @sidebar-control-background-color;
    border: 0;
    & > input {
      margin: 0;
    }
    .align-left{
      margin: 0;
    }
    .dzvin-input-after{
     margin-right: 0;
      .datePicker__controls{
        .dzvin-icon-CALENDAR{
          display: none;
        }
      }
    }
  }
  .ant-calendar-picker-icon{
    display: none;
  }
  .ant-calendar-picker-clear{
    background: @sidebar-control-background-color;
    color: #fff;
    right: 1px;
  }
}

.interval-control-label{
  flex: 0 0 auto;
  padding: 0 3px;
  line-height: 25px;
  font-size: 13px;
  font-family: @sidebar-font;
}
