.menu_panel-button_group:first-child {
  margin-right: auto;
}
.menu_panel-button_icon {
  font-size: 28px;
  vertical-align: middle;
}
.menu_panel-search_input_wrapper {
  width: 275px;
}
.menu_panel-autocomplete_wrapper {
  width: 100%;
}
.menu_panel .ant-input-affix-wrapper .ant-input-suffix {
  right: 0;
}
.menu_panel .ant-input-affix-wrapper .ant-input:not(:last-child) {
  padding-right: 70px;
}
.menu_panel .ant-input-affix-wrapper .ant-input-prefix .menu_panel-button_icon,
.menu_panel .ant-input-affix-wrapper .ant-input-suffix .menu_panel-button_icon {
  line-height: 1;
}
