@import "../../assets/styles/_variables.less";
@import "../../assets/styles/_mixins.less";

.catalog-container {
  width: 100%;
  &__header{
    background: #878C95;
    padding: 20px;
    height: 40px;
    display: flex;
    align-items: center;
  }
}

