@import "../../../assets/styles/_mixins.less";
@import "../../../assets/styles/_variables.less";

.shape-form{
  min-width: 22em;
  justify-content: space-between;
  height: 100%;

  .coordinate-width-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 10px;
  }

  .coordinatesNotArrayContainer{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    justify-content: space-between;
  }

  .coordinate-width-title{
    display: flex;
    padding: 10px;
    font-weight: bold;
    font-size: 12px;
    font-family: Roboto;
  }

  .coordinate-width-button{
    display: flex;
    .icon-hovered{
      margin: 0 5px;
    }
  }

  .coordinateRow-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0;
    .coordinate-title {
      font-size: 12px;
      font-family: Roboto;
    }
    .coordinatesSelect, .input-block {
      width: 180px;
      flex: 0 0 auto;
    }
  }

  .ant-input, .ant-input-group-addon{
    border-color: #d9d9d9;
    border-radius: 2px;
    background: #fff;
  }
  .ant-input[disabled]{
    resize: none;
  }
  .dzvin-form-row{
    .dzvin-form-input{
      // position: relative;
      .ant-select{
        font-size: 12px;
        font-family: Roboto;
        .ant-select-selection__rendered {
          margin-left: 10px;
          .icon-option {
            background: transparent;
            border: 0;
            padding: 0;
            color: @toolbar-color;
          }
        }
      }
      .visible-select.ant-select{
        z-index: 1001;
        .ant-select-selection__rendered{
          margin-left: 0;
        }
      }
      .icon-button-more{
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(90deg);
        pointer-events: none;
      }
    }
  }
  .org-structures-select-disabled{
    .dzvin-input{
      color: @toolbar-color;
      border: 1px solid @select-border-color;
      height: 30px;
      font-size: 12px;
      border-radius: 2px;
    }
    .dzvin-input-disabled {
      background: @input-disabled-color;
      border: 1px solid @select-border-color;
      height: 30px;
      border-radius: 2px;

      input[disabled] {
        background: @input-disabled-color;
        color: @toolbar-color;
      }
    }
  }
  .ant-select-selection--single{
    height: 30px;
    color: @toolbar-color;
    border: 1px solid @modals-section-border-color;
    border-radius: 2px;
  }
  .footer-container{
    height: 50px;
    display: flex;
    align-items: center;
    background: @modals-background-color;
    justify-content: center;
    .dzvin-button{
      flex: 0 0 auto;
      width: 120px;
      height: 30px;
      margin: 0 0.6em;
      padding: 0;
    }
    .dzvin-button-apply{
      background: @select-outline-color;
      border-color: @select-outline-color;
      color: #fff;
      &:hover{
        opacity: 0.7;
      }
    }
  }
  .org-structures-disabled{
    .dzvin-input{
      background: #fafafa;
      border: 0;
      input[disabled]{
        background: #fafafa;
        border: 0;
      }
    }
  }
  .modals-input-disabled{
    border: none;
    .ant-input, .ant-input-group-addon, .ant-select-selection--single{
      border: none;
      background: #fafafa;
    }
  }
  .modals-input-disabled:hover, .modals-input-disabled:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}
.headerSiding {
  position: relative;  /* нужна нестатическая позиция */
  margin-top: 0.25em;
}
.text-form-preview {
  margin: 6px;
  height: 160px;
  border-bottom: 2px solid @modals-divider-color;
  display: flex;
  background: @toolbar-light-background;
  order: -1;
  .flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  padding-top: 6px;
  z-index: 99999;
  margin-top: 0;

  .textsymbol{
    flex: 0 0 auto;
    width: 100%;
    height: 95%;
  }
}
.icon-option {
  display: flex;
  align-items: center;
  margin-right: 4px;
  background: #fafafa;
  padding-right: 4px;
  width: 100%;
  height: 32px;
  padding-left: 10px;
  border-radius: 2px;
  .ant-checkbox-wrapper{
    margin-right: 10px;
  }
  .icon-rect{
    width: 24px;
    height: 24px;
    flex: 0 0 auto;
    margin-right: 0.35em;
  }
  .option-line-type{
    height: 0;
    width: 4em;
    margin-right: 0.35em;
    border: 1px #000;
  }
}

.shape-form-scrollable{
  height: auto;
  padding: 0 10px;
  .icon-option{
    width: 100px;
    margin-right: 0;
  }
  .coordinates-checkbox-container{
    display: flex;
    align-items: center;
  }
  .coordinate-check{
    display: flex;
    margin: 5px 10px;
  }
  .coordinatesModal{
    width: 180px;
    padding-left: 10px;
    padding-right: 0;
    flex-direction: row;
    .input-block .ant-input{
      background: #fff;
      border-radius: 2px;
      border-color: #d9d9d9;
      font-size: 12px;
    }
    .ant-input-group-addon{
      border-color: #d9d9d9;
      .ant-select, .visible-select{
        border-color: #d9d9d9;
        font-size: 12px;
      }
    }
  }
  .columns-container{
    display: flex;
    font-family: Roboto;
    height: 27px;
    .amplifiers-title{
      font-size: 12px;
      margin-right: 26px;
      line-height: 1.9;
    }
    .coordinates-title{
      font-size: 12px;
      line-height: 1.9;
    }
  }
  .icon-hovered {
    margin-left: 6px;
    width: 60px;
  }
}

.sectors-array-container{
  padding: 0;
  border-top: 2px solid @modals-section-border-color;
  padding-top: 10px;
  input{
    min-width: 65px;
  }
  .ant-input-group-addon{
    border-left: 0;
  }
  .sectorItems{
    padding: 0;
    width: 30px;
  }
  .color-picker{
    justify-content: center;
    width: 100%;
  }
}

.text-form-controls label{
  flex: 1 1 auto;
  text-align: left;

}

.container-color-picker{
  height: 68px;
  display: flex;
  padding-top: 15px;
  justify-content: space-around;
  .color-picker{
    width: 32px;
    height: 32px;
    padding-bottom: 1px;
    .color-picker-button{
      width: 100%;
      height: 100%;
    }
  }
}

.shape-form-svg-tooltip{
  .ant-tooltip-content {
    .ant-tooltip-inner {
      background: @toolbar-light-background;
      border-radius: 0;
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  }
  .containers-svg-tooltip {
    height: 160px;
    display: flex;
    background: @toolbar-light-background;
    svg, img{
      width: 100%;
    }
  }
}

.modal-container-noPosition{
  .movable-panel{
    z-index: 1000;
    .ant-select-selection:active, .ant-select-selection:hover, .ant-select-selection:focus{
      outline: 0;
      border: 0;
    }
  }
  div[tabindex="-1"]{
    width: 100%;
  }
}

.modal-container-position{
  .movable-panel {
    z-index: 1000;
  }
}

.ant-select-dropdown-menu-item {
  font-size: 12px;
  padding: 5px 10px;
  .icon-option{
    padding: 0;
  }
}

.line-type-dropdown {
  .ant-select-dropdown-menu-item {
    padding: 5px 10px;
    .icon-option {
      padding: 0;
      .icon-text {
        white-space: normal;
        line-height: 1;
        margin-left: 6px;
      }
    }
  }
}

.line-type-select{
  .ant-select-selection__rendered{
    margin-left: 10px;
    .icon-option {
      padding: 0;
      .icon-text {
        white-space: normal;
        line-height: 1;
        margin-left: 6px;
      }
    }
  }
}

.hot-key-container-size {
  width: 100%;
  height: 100%;
}
