@import "../../../../assets/styles/_variables.less";

.settingsButton{
    transform: rotate(90deg);
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    top: 3px;
    color: @toolbar-color;
    right: 0;
}
