@import "../../assets/styles/_variables.less";
@import "../../assets/styles/_mixins.less";

.layers-component{
  .flex;
  flex-direction: column;
  flex: 1 1 auto;
  .interval-control{
    flex: 0 0 auto;
  }
  .layers-сontrols-сomponent{
    flex: 0 0 auto;
  }
  .layers-list-сomponent{
    flex: 1 1 auto;
  }
  .icon-hovered, .icon {
    width: 1.7em;
    height: 1.7em;
  }
}
