@import "../../assets/styles/_variables.less";
@import "../../assets/styles/_mixins.less";

.layers-component{
  .flex;
  flex-direction: column;
  flex: 1 1 auto;
  .interval-control{
    flex: 0 0 auto;
  }
  .layers-controls-component{
    flex: 0 0 auto;
    padding-left: 19px;
    padding-right: 24px;
    .icon:hover{
      color: @toolbar-header-background;
      background-color: transparent;
    }
  }
  .layers-list-component{
    flex: 1 1 auto;
  }
  .icon-hovered, .icon {
    width: 1.7em;
    height: 1.7em;
  }

  .tree-layers-container{
    overflow-y: auto;
    height: 100%;
    .tree-layers{
      height: 0;
      .layer-item-component::before{
        content: none !important;
      }
      .tree-component-li{
        border-color: transparent;
      }
    }

  .tree-component{
    overflow: auto;
  }
  .ant-input-search{
    padding: 5px;
    flex: 0 0 auto;
  }
 }
 .ant-input-search{
   padding: 5px;
 }
}

@keyframes layers-list_show {
  from {
    max-height: 0vh;
  }
  95% {
    max-height: 50vh;
  }
  to {
    max-height: none;
  }
}
