@import "../../../assets/styles/_variables.less";
@import "../../../assets/styles/_mixins.less";

.icon-button {
  display: block;
  width: 32px;
  height: 32px;
  margin: 3px;
  line-height: 0px;
  border-radius: 5px;
  > .icon-hovered{
    .icon-hovered-on{
      display: none;
    }
    .icon-hovered-off{
      display: initial;
    }
  }
  &.icon-button-checked, &:hover {
    background-color: @toolbar-background-selected;
    > .icon-hovered{
      .icon-hovered-on{
        display: initial;
      }
      .icon-hovered-off{
        display: none;
      }
    }
  }
}

.icon-button-sub-panel{
  height: 0;
  > * {
    position: absolute;
    z-index: 1050;
    margin-top: 60px;
  }
}
