@import "../../../assets/styles/_variables.less";

.printPanelFormInner {
  overflow-y: scroll;

  .ant-form {
    position: relative;

  .dzvin-form-row {
    label {
      font-size: 12px;
    }
  }

  .printPanel_indicators {
    .dzvin-form-row {
      margin-top: 0;
      margin-bottom: 2px;
      .dzvin-form-input {
        width: 100%;
        input {
          padding: 0;
        }
      }
    }
  }

  .printPanel_docBlock {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 8px 0;
    > .dzvin-form-row {
      > .dzvin-form-input {
        width: 140px;
        padding-right: 5px;
      }
    }
  }

  .printPanelSecurity {
    margin: 8px 0;
    div:last-child {
      font-weight: bold;
    }
  }

  h5 {
    margin: 8px 0;
  }

  .printPanelSign_block {
    border: 1px solid grey;
    margin: 0 15px;
    .printPanelSignTitle_row {
      display: flex;
      border-bottom: 1px solid grey;
    }
    .right {
      order: 1;
    }
    .printPanelSign_row {
      display: flex;
      .right {
        order: 1;
      }
    }
    .printPanelSign_row {
      .ant-col-6 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
      }
      .PrintPanel_colorPicker {
        .color-picker-popup {
          margin-left: -6px;
          .color-picker-controls {
            transform: scale(-1, 1);
            input {
              transform: scale(-1, 1);
            }
          }
        }
      }
      .right {
        .PrintPanel_colorPicker {
          .color-picker-popup {
            margin-left: -185px;
            .color-picker-controls {
              transform: scale(1, 1);
              input {
                transform: scale(1, 1);
              }
            }
          }
        }
      }
    }
  }

  .printPanel_indicators {
    .dzvin-form-row {
      padding: 1px 15px;
    }

    .dzvin-form-input {
      input {
        border-radius: 5px;
      }
    }

    .dzvin-form-row:last-child {
      .dzvin-form-input {
        border: 0;
      }
    }
  }

  .printPanel_legend {
    display: flex;
    align-items: center;

    .printPanel_legendControl {
      button {
        height: 20px;
        width: 20px;
        font-size: 10px;
        padding: 0 !important;
      }

      button:hover {
        color: #fff !important;
        border-color: #b0b37d !important;
        background-color: #b0b37d;
        cursor: pointer;
      }

      button.active {
        color: #fff !important;
        border-color: #b0b37d !important;
        background-color: #b0b37d;
      }
    }
  }

  .printPanel_signatories {
    margin-bottom: 15px;

    .ant-row {
      border: 1px solid grey;
      border-top: 0;
      max-height: 19px;
      overflow: hidden;
      font-size: 12px;

      div {
        border-right: 1px solid grey;
        max-height: 19px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      div:last-child {
        border: 0;
      }
    }

    .ant-row:first-child {
      border-top: 1px solid grey;
    }
  }

  .printPanel_buttonBlock {
    position: sticky;
    bottom: 0;
    background: @toolbar-color-selected;
    border-top: 1px solid @sidebar-item-border-color;
  }

  .invisible {
    display: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 0 !important;
    height: 0 !important;
  }
 }
}
