@import "../../../assets/styles/_mixins.less";
@import "../../../assets/styles/_variables.less";

.shape-form{
  min-width: 23em;
  .dzvin-form-row{
    .ant-select{
      width: 11em;
    }

  }
  .wrong-coordinate{
    .ant-input {
      border-color: @error-color;
    }
    .ant-input-suffix {
      color: @error-color;
    }
  }
}

.icon-option {
  .flex;
  align-items: center;
  margin-right: 4px;
  .icon-rect{
    width: 24px;
    height: 24px;
    flex: 0 0 auto;
    margin-right: 0.35em;
  }
  .option-line-type{
    height: 0px;
    width: 4em;
    margin-right: 0.35em;
    border: 1px #000;
  }
}

.shape-form-scrollable{
  .flex;
  flex-direction: column;
  max-height: 12em;
  overflow: auto;
  > div {
    flex: 0 0 auto;
    overflow: hidden;
  }
}
