@import "../../../assets/styles/_variables.less";
@import "../../../assets/styles/_mixins.less";

.org-structure-item{
  .flex;
  justify-items: flex-start;
  white-space: pre-wrap;
  align-items: center;
  .milsymbol{
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
  }

}
.org-structure-item-selected{
  .org-structure-item-content {
    background: @toolbar-background-selected;
    color: @toolbar-color-selected;
  }
}
.org-structure-item-content{
  .flex;
  align-items: center;
  padding: 0px 0.3em;
}
.ant-tooltip{
  .highlight{
    color: #fff;
  }
  .obscure{
    color: #888;
  }
}

