@import "../../../assets/styles/_variables.less";
@import "../../../assets/styles/_mixins.less";

.left-menu{
  .flex;
}

.search-failed > input {
  color: red;
}

.search-options-sub-panel{
  width: auto !important;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1050;
}

