@import '../../../../assets/styles/_variables.less';

.textMarker-container{
  min-width: 715px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  &__item{
    display: flex;
    .dzvin-form-input{
      position: relative;
      .ant-select-selection__rendered{
        margin-right: 22px;
      }
    }
    .dzvin-form-row{
      width: 50%;
      padding-top: 5px;
      padding-left: 25px;
      padding-right: 25px;
      label{
        flex: 0 0 auto;
      }
      .dzvin-form-input{
        flex: 1 1 auto;
        .ant-select{
          width: 100%;
        }
        .org-structures-select{
          input{
            padding: 0.294em 1.5em 0.294em 0.8em;
            border-color: @select-border-color;
            transition: 0.5s;
          }
          input:hover{
            outline-color: @select-outline-color;
            box-shadow: 0 0 0 2px @select-box-shadow-color;
            border-color: @select-outline-color;
          }
          .filter-tree-select-values-container{
            position: fixed;
          }
        }
        .ant-select-open{
          .ant-select-arrow{
            transform: rotate(180deg)scale(0.6);
          }
        }
        .ant-select-arrow{
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 10px solid @toolbar-color;
          top: 55%;
          transition: 0.3s;
          transform: scale(0.6);
          right: 7px;
          .anticon{
            display: none;
          }
        }
        .icon-button {
          position: absolute;
          top: -4px;
          pointer-events: none;
          right: -4px;
          transform: scale(0.6);
        }
      }
    }
  }
  .text-form-scrollable{
    .dzvin-form-item{
      padding: 0 25px 0 25px;
    }
  }
}
