@import '../../../../assets/styles/_variables.less';

.textMarker-container{
  min-width: 715px;
  max-width: 920px;
  margin: auto;
  &__item{
    display: flex;
    .dzvin-form-input{
      position: relative;
      .ant-select-selection__rendered{
        margin-right: 22px;
      }
    }
    .dzvin-form-row{
      width: 50%;
      padding-top: 5px;
      padding-left: 25px;
      padding-right: 25px;
      label{
        flex: 0 0 auto;
      }
      .dzvin-form-input{
        flex: 1 1 auto;
        .org-structures-select{
          input{
            padding: 0.294em 1.5em 0.294em 0.8em;
            border-color: @select-border-color;
            transition: 0.5s;
          }
          input:hover{
            outline-color: @select-outline-color;
            box-shadow: 0 0 0 2px @select-box-shadow-color;
            border-color: @select-outline-color;
          }
          .filter-tree-select-values-container{
            position: fixed;
          }
        }
      }
    }
  }
  .text-form-scrollable{
    .dzvin-form-item{
      padding: 0 25px 0 25px;
    }
  }
}
