@import "../../../assets/styles/_variables.less";
@import "../../../assets/styles/_mixins.less";

.tabs-panel {
  .flex;
  flex: 1 1 auto;
  flex-direction: row;
}
.tabs-panel-headers{
  .flex;
  height: fit-content;
  width: fit-content;
  flex: 0 0 auto;
  flex-direction: column;
}
.tabs-panel-header {
  color: @toolbar-header-text;
  font-size: 16px;
  background-color: @toolbar-header-background;
  margin: 0 5px 0 5px;
  padding: 10px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-family: @sidebar-font;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.tabs-panel-header-selected{
  background-color: @toolbar-border-selected;
}

.tabs-panel-content{
  min-height: 10%;
  flex: 1 1 auto;
  .flex;
}
.tabs-panel-container{
  flex: 1 1 auto;
  .flex;
}
