@import "../../../assets/styles/_variables.less";
@import "../../../assets/styles/_mixins.less";

.layers-сontrols-сomponent {
  .flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 22px 5px 20px;
}

.layers-сontrols-control{
  margin: auto 0px;
  flex: 0 0 auto;
}

.confirm-close-maps{
  width: 0px;
  height: 1px;
  flex: 0 0 auto;
  .flex;
}
.confirm-close-maps-overflow{
  width: 350px;
  margin-left: -380px;
  position: absolute;
  z-index: 10000;
  animation: confirm-close-maps 0.2s 0.01s both;
  transform-origin: right bottom;
  margin-top: -100px;
  .dzvin-form {
    width: 350px;
  }
}

@keyframes confirm-close-maps {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
