@import "../../../assets/styles/_variables.less";
@import "../../../assets/styles/_mixins.less";

.layers-сontrols-сomponent {
  .flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 22px 5px 20px;
}

.layers-сontrols-control{
  margin: auto 5px;
  flex: 0 0 auto;
}
