@import "../../../assets/styles/_variables.less";
@import "../../../assets/styles/_mixins.less";

.left-menu{
  .flex;
  align-items: center;
}
.menu-layer-name {
  font-size: 1.5em;
  margin: 0 2em;
  height: 1.5em;
}
