@import "../../../assets/styles/_mixins.less";

.left-menu{
  .flex;
  align-items: center;
}
.menu-layer-name {
  font-size: 1.1em;
  margin: 0 2em;
  height: 1.5em;
  line-height: 1.5em;
  flex: 1 1 auto;
}
