@import "../../../assets/styles/_variables.less";
@import "../../../assets/styles/_mixins.less";

.left-menu{
  .flex;
  align-items: center;
  width: 100%;
}
.menu-layer-name {
  font-size: 1.1em;
  font-family: Roboto;
  line-height: 1.5em;
  margin: 0 10px;
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}
