@import "../../../assets/styles/_variables.less";
@import "../../../assets/styles/_mixins.less";

.map-item-сomponent {
  .flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 20px;
  background: @toolbar-header-background;
  color: #fff;
}
.map-item-сomponent-title{
  margin: auto 1px;
  width: 1px;
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.map-item-сomponent-control{
  margin: auto 1px;
  flex: 0 0 auto;
}
