@import "../../../assets/styles/_variables.less";
@import "../../../assets/styles/_mixins.less";

.map-item-component {
  .flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background: @sidebar-item-background-color;
  color: @toolbar-color;
  font-family: @sidebar-font;
  --dzvin-expand-icon-color: @input-background-color;
  border-top: 1px solid @sidebar-item-border-color;
  position: relative;
  border-bottom: 1px solid @sidebar-item-border-color;
  .icon{
    color: @toolbar-color;
  }
  .icon-button:hover{
    background: transparent;
  }

  .expand-icon{
    height: 21px;
    font-size: 0.75em;
    width: 21px;
    transition: 0.3s;
  }

  .expand-icon-expanded{
    transform: rotate(90deg);
  }

  .expand-icon-collapse {
    transform: rotate(-90deg);
  }

  .color-container{
    height: 100%;
    display: flex;
    align-items: center;
  }

  .color-picker-hover{
    display: none;
  }
  .color-picker{
    width: 28px;
    height: 28px;
    font-size: 0.8em;
  }
}

.map-item-component-icon{
  font-size: 0.78em;
  display: flex;
}

.map-item-component-title{
  margin: auto 1px;
  width: 1px;
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  text-align: left;
}
.confirm-close-map{
  width: 0;
  height: 1px;
  flex: 0 0 auto;
  .flex;
  position: fixed;
  z-index: 99999;
  right: 295px;
}
.confirm-close-map-overflow{
  width: 350px;
  right: 390px;
  position: fixed;
  top: 80px;
  z-index: 10000;
  animation: confirm-close-map 0.2s 0.01s both;
  transform-origin: right bottom;
  .dzvin-form {
    width: 350px;
  }
}
@keyframes confirm-close-map {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

.map-item-component:hover {
  .color-picker-hover{
    display: flex;
    align-items: center;
  }
}

.map-item-component-hover{
  .color-picker-hover{
    display: flex;
    align-items: center;
  }
}
