/**
* Created by pavlo.cherevko (melight@ex.ua) on 7/29/2019
*/
@import "../../assets/styles/_variables.less";
@import "../../assets/styles/_mixins.less";

.sign_Popup {
  pointer-events: none;
  padding: 5px;

  .leaflet-popup-content-wrapper {
    background: lemonchiffon;

    .leaflet-popup-content {
      min-width: fit-content;

      .unit_indicators {
        .flex;
        flex-direction: column;
        min-height: min-content;
        min-width: min-content;
        overflow: hidden;

        .unit_indicators_indicator {
          position: relative;
          padding: 3px 0;
          display: flex;
          width: 400px;
          justify-content: space-between;
          align-items: center;

          .unit_indicators_indicator_title {
            text-decoration: underline;
            white-space: nowrap;
            width: 50%;
          }

          .unit_indicators_indicator_data{
            margin-left: 15px;
            display: flex;
            max-width: 50%;
          }

          .indicators_tag {
            border: 0 solid black;
            padding: 0 7px;
            border-radius: 5px;
          }
        }
      }
    }
  }

  .leaflet-popup-tip {
    width: 0;
    height: 0;
  }
}
