@import "../../../assets/styles/_variables.less";
@import "../../../assets/styles/_mixins.less";

.color-picker{
  border-radius: 3px;
  border: 1px solid @toolbar-border;
  width: 20px;
  height: 20px;
}

.colors-panel{
  .flex;
  width: 200px;
  flex-wrap: wrap;
}
.colors-panel-item{
  border-radius: 3px;
  border: 1px solid @toolbar-border;
  width: 20px;
  height: 20px;
  margin: 4px;
}
