@webmap-font: sans-serif;

@input-color: #fff;
@webmap-header-height: 64px;

@toolbar-background: #ededed;
@toolbar-light-background: #fafafa;
@toolbar-dark-background: #e6e6e6;

@toolbar-header-background: #5b626a;
@toolbar-header-text: #ebeaef;
@toolbar-border: #a7a6a6;
@toolbar-border-selected: #71b222;
@toolbar-color: #5e6269;

@toolbar-background-selected: #a9b06c;
@toolbar-color-selected: #eee;

@error-color: #a2000e;
