@webmap-font: sans-serif;

@webmap-header-height: 64px;

@toolbar-background: #eee;

@toolbar-header-background: #5b626a;
@toolbar-header-text: #ebeaef;
@toolbar-border: #a7a6a6;
@toolbar-border-selected: #71b222;
@toolbar-color: #222;

@toolbar-background-selected: #5b626a;
@toolbar-color-selected: #eee;
