.log-map-container{
    position: fixed;
    z-index: 1001;

  .content {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .input-name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

    }
    .input-as-of {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .cop-date-picker{
        width: 100%;
      }
    }

    .buttons {
      padding-top: 10px;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;

      .button{
        min-width: 100px;
      }
    }
  }
}
