@import "../../../assets/styles/_variables.less";
@import "../../../assets/styles/_mixins.less";

.opacity-control{
  .flex;
  align-items: center;
}
.opacity-control-icon {
  flex:0 0 auto;
  margin: auto 5px;
}
.opacity-control-input {
  flex:0 0 auto;
  width: 50px;
  border: 1px solid @toolbar-border;
  padding-left: 3px;
  border-radius: 3px;
}
