@import "../../assets/styles/_variables.less";
@import "../../assets/styles/_mixins.less";

.settings-form-group{
  background: @modals-background-color;
  .ant-tabs-bar{
    border-color: #D7D7D7;
    &:focus{
    outline: none;
    }
  }
  .ant-tabs-ink-bar{
    height: 3px;
    background-color: #A2A85E;
  }
  .ant-tabs-nav .ant-tabs-tab-active{
    color: rgba(44, 45, 45, 0.87);;
    font-size: 14px;
    font-family: Roboto;
  }
  .ant-tabs-tab:hover {
    color: rgba(44, 45, 45, 0.87);
  }
  .ant-tabs-tab-active{
    font-weight: bold;
  }
  .settings-form-system{
    display: flex;
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 8px;
    margin-top: 15px;
    .coordinateContainer{
      display: flex;
      .dzvin-form-row{
        flex-direction: column;
        align-items: flex-start;
        .dzvin-form-row-label {
          white-space: nowrap;
          font-size: 12px;
          line-height: 1.8em;
        }
        .dzvin-form-input{
          position: relative;
          .ant-select{
            width: 270px;
            .ant-select-selection--single{
              border-radius: 2px;
            }
          }
        }
      }
    }
    .checkedContainer{
      display: flex;
      flex-direction: row;
      padding-top: 20px;
      .dzvin-form-row{
        flex-direction: row-reverse;
        .dzvin-form-row-label {
          font-size: 12px;
          margin-left: 0.5em;
          white-space: normal;
        }
        .ant-checkbox, .ant-checkbox-checked .ant-checkbox-inner{
          background: #a9b06c;
          border-color: #a9b06c;
        }
        .ant-checkbox-wrapper:hover, .ant-checkbox-inner, .ant-checkbox:hover, .ant-checkbox-input:focus{
          border-color: #a9b06c;
        }
      }
    }
  }
  .pointTitle{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    font-size: 12px;
    div{
      &:first-child{
        margin: 0 17px;
      }
      margin: 0 13px;
    }
  }
  .containerSign{
    display: flex;
    height: 33px;
    justify-content: space-between;
    margin-right: 10px;
    .dzvin-form-row{
      padding-top: 0;
      font-size: 14px;
      padding-bottom: 0;
      color: @modals-text-color;
      align-items: center;
      margin: 0 0 0 15px;
      .dzvin-form-row-label{
        margin-right: 0;
      }
    }
    .dzvin-form-dark-part{
      background: transparent;
      flex-direction: row;
      .dzvin-form-row {
        padding-top: 0;
        font-size: 12px;
        margin: 0 5px;
      }
      .scale-control-input{
        width: 65px;
        height: 30px;
        border-color: @modals-section-border-color;
        border-radius: 2px;
      }
    }
  }
  .amplifiers-container .dzvin-form-row {
      font-size: 12px;
      margin: 0 1em;
  }
  .ant-collapse-content-box{
    padding: 0;
  }
  .containerScales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 15px;
    .containerForm{
      width: 50%;
      .dzvin-form-row{
        flex-direction: column;
        align-items: flex-start;
        label{
          font-size: 12px;
          margin-left: 8px;
          margin-bottom: 6px;
        }
        .dzvin-form-input{
          position: relative;
          .ant-select{
            font-size: 13px;
            .ant-select-selection--single{
              border-radius: 2px;
              height: 30px;
            }
          }
        }
      }
    }
  }
  .ant-select-open {
    .ant-select-arrow {
      transform: rotate(180deg) scale(0.6);
    }
  }

  .ant-select-arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid @toolbar-color;
    top: 55%;
    transition: 0.3s;
    transform: scale(0.6);
    right: 7px;

    .anticon {
      display: none;
    }
  }
  .zones-container{
    display: flex;
    margin: 10px;
    .dzvin-form-input{
      width: 67px;
    }
  }
}

.select-level {
  width: 269px;
}

.icon-level {
  flex: 0 0 auto;
}

.flex-level {
  display: flex;
  .text-level{
    font-size: 13px;
    line-height: 2.2em;
    padding-left: 8px;
  }
}

.settings--form {
  width: 580px;
  background: @toolbar-light-background;
}
