@import "../../assets/styles/_variables.less";
@import "../../assets/styles/_mixins.less";

.org-structures{
  .flex;
  flex-direction: column;
  flex: 1 1 auto;

  .ant-input-search{
    padding: 5px;
    flex: 0 0 auto;
  }
  .org-structures-scroll{
    flex: 1 1 auto;
    // overflow-y: scroll;
    padding: 0 8px;
  }


  // .tree-component-ul:not(.tree-component-level-0) {
  //   padding: 0;
  //   margin: 0;
  //   list-style-type: none;
  //   position: relative;

  //   > .tree-component-li {
  //     list-style-type: none;
  //     border-left: 1px solid @toolbar-color;
  //     margin-left: 1.1em;
  //     padding-left: 0.1rem;

  //     .org-structure-item:not(.org-structure-item-can-expand):after{
  //       content: '';
  //       width: 5px;
  //       height: 5px;
  //       border-radius: 50%;
  //       position: absolute;
  //       background: @toolbar-color;
  //       top: 52%;
  //       display: block;
  //       left: 15px;
  //       transform: translate(-50%, -56.5%);
  //     }
  //     > :first-child {
  //       padding-left: 0.2em;
  //       position: relative;

  //       &:before {
  //         content: '';
  //         position: absolute;
  //         top: -14px;
  //         left: -0.2em;
  //         bottom: 46%;
  //         width: 1.2em;
  //         border: 1px solid @toolbar-color;
  //         border-top: 0 none transparent;
  //         border-right: 0 none transparent;
  //       }
  //     }
  //     &:last-child {
  //       border-left: 1px solid transparent;
  //     }
  //   }
  // }
  // .tree-component-ul.tree-component-level-1 > .tree-component-li {
  //   margin-left: 1em;
  // }
}

